* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 700px;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 50vh;
    border-width: thin;
    border-color: rgb(190, 190, 190, .8);
    padding-bottom: 20px;
    padding-top: 50px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(190, 190, 190, .8);
    background-color: #ffffff;
}

.group:nth-child(2) {
    margin: 20px;
    padding: 25px 10px;
}

.logo {
    margin-top: -30px;
}

.nome {
    margin-top: 30px;
    padding: 10px;
    width: 265px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(223, 222, 222);
    font-size: 12px;
    background-color: #fafafa;
    text-align: left;
}

.senha {
    margin-top: -10px;
    padding: 10px;
    width: 265px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(223, 222, 222);
    font-size: 12px;
    background-color: #fafafa;
    text-align: left;
}

.opcao {
    margin-top: 10px;
    color: #9ca8b9;
}

.entrar-facebook {
    float: left;
    align-items: center;
    margin-top: 15px;
    margin-left: 5px;
    color: #125999;
    font-weight: bold;
}

.icone-facebook {
    width: 15%;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.esqueceu-senha {
    font-size: 12px;
    color: #125999;
}

.cadastre-se {
    color: #0095f6;
    font-weight: 550;
}

.download {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.app-download {
    background-size: cover;
    padding-bottom: 40px;
    padding-right: 140%;
    margin-left: 10px;
}

.app-download:nth-child(1) {
    background-image: url('/img/googlePlay.png');
}

.app-download:nth-child(2) {
    background-image: url('/img/appStore.png');
}

.foto-slide {
    position: absolute;
    animation-name: animacao;
    animation-iteration-count: infinite;
    margin-top: 15px;
    margin-left: -3px;
    margin-right: -50px;
    width: 252px;
    max-height: 440px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    animation: animacao 10s infinite linear;
}

@keyframes animacao {
    0% {
        opacity: 0;
    }
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.foto-slide:nth-child(1) {}

.foto-slide:nth-child(2) {
    animation-delay: 2.5s;
}

.foto-slide:nth-child(3) {
    animation-delay: 5s;
}

.foto-slide:nth-child(4) {
    animation-delay: 7.5s;
}

#rodape {
    clear: both;
    position: absolute;
    bottom: -15px;
    width: 100%;
}

#rodape p {
    text-align: center;
}

#rodape p a {
    color: #0095f6;
    font-weight: bold;
}